function Main.main 1
call TicTacToe.new 0
pop local 0
push constant 150
push constant 190
push constant 350
push constant 190
call Screen.drawLine 4
pop temp 0
push constant 150
push constant 90
push constant 350
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 40
push constant 200
push constant 240
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 40
push constant 300
push constant 240
call Screen.drawLine 4
pop temp 0
push local 0
call TicTacToe.jogar 1
pop temp 0
push constant 0
return
