function TicTacToe.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push pointer 0
return
function TicTacToe.gameOver 0
push argument 0
pop pointer 0
push constant 12
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function TicTacToe.jogar 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 32
eq
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push local 1
not
not
if-goto WHILE_END1
label WHILE_EXP2
push local 0
push constant 0
eq
push local 1
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push this 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call TicTacToe.gameOver 1
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE0
goto WHILE_EXP2
label WHILE_END2
push local 0
push constant 140
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 49
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 0
not
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END3
label IF_FALSE3
push constant 1
call TicTacToeGame.drawX 1
pop temp 0
label IF_END3
push local 2
not
pop local 2
label IF_FALSE2
push local 0
push constant 50
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
push constant 0
not
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 2
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END5
label IF_FALSE5
push constant 2
call TicTacToeGame.drawX 1
pop temp 0
label IF_END5
push local 2
not
pop local 2
label IF_FALSE4
push local 0
push constant 51
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
push constant 0
not
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 3
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END7
label IF_FALSE7
push constant 3
call TicTacToeGame.drawX 1
pop temp 0
label IF_END7
push local 2
not
pop local 2
label IF_FALSE6
push local 0
push constant 52
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 2
push constant 0
not
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 4
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END9
label IF_FALSE9
push constant 4
call TicTacToeGame.drawX 1
pop temp 0
label IF_END9
push local 2
not
pop local 2
label IF_FALSE8
push local 0
push constant 53
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 2
push constant 0
not
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 5
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END11
label IF_FALSE11
push constant 5
call TicTacToeGame.drawX 1
pop temp 0
label IF_END11
push local 2
not
pop local 2
label IF_FALSE10
push local 0
push constant 54
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 2
push constant 0
not
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 6
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END13
label IF_FALSE13
push constant 6
call TicTacToeGame.drawX 1
pop temp 0
label IF_END13
push local 2
not
pop local 2
label IF_FALSE12
push local 0
push constant 55
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 2
push constant 0
not
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 7
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END15
label IF_FALSE15
push constant 7
call TicTacToeGame.drawX 1
pop temp 0
label IF_END15
push local 2
not
pop local 2
label IF_FALSE14
push local 0
push constant 56
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 2
push constant 0
not
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push constant 8
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END17
label IF_FALSE17
push constant 8
call TicTacToeGame.drawX 1
pop temp 0
label IF_END17
push local 2
not
pop local 2
label IF_FALSE16
push local 0
push constant 57
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push local 2
push constant 0
not
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push constant 9
call TicTacToeGame.drawBolinha 1
pop temp 0
goto IF_END19
label IF_FALSE19
push constant 9
call TicTacToeGame.drawX 1
pop temp 0
label IF_END19
push local 2
not
pop local 2
label IF_FALSE18
label WHILE_EXP3
push local 0
push constant 0
eq
not
push local 1
not
and
not
if-goto WHILE_END3
call Keyboard.keyPressed 0
pop local 0
push this 0
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push pointer 0
call TicTacToe.gameOver 1
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE20
goto WHILE_EXP3
label WHILE_END3
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
